@model DI.Class13.FirstMVCProject.Sir.Models.WelCome2Model
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Name .Your registration data is @Model.Date and please check your password in your @Model.Email mail</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
